//-**=========================================================
  * Module: sidebar.ng.jade
  * Created by wjwong on 7/27/15.
  =========================================================*/
// Inline template with sidebar items markup and ng-directives
script(type="text/ng-template" id="sidebar-renderer.html").
  <span ng-if="item.heading">{{(item.translate | translate) || item.text}}</span>
  <a ng-switch-when="#" ng-if="!item.heading" href="" title="{{item.text}}">
  <em ng-if="item.icon" class="{{item.icon}}"></em>
  <div ng-if="item.alert" ng-class="item.label || 'label label-success'" class="pull-right">{{item.alert}}</div>
  <span>{{(item.translate | translate) || item.text}}</span>
  </a>
  <ul ng-switch-when="#" ng-if="item.submenu" collapse="isCollapse(pIndex)" ng-init="addCollapse(pIndex, item)" class="nav sidebar-subnav">
  <li class="sidebar-subnav-header">{{(item.translate | translate) || item.text}}</li>
  <li ng-repeat="item in item.submenu" ng-include="'sidebar-renderer.html'" ng-class="getMenuItemPropClasses(item)" ng-init="pIndex=(pIndex+'-'+$index); inSubmenu = true" ng-click="toggleCollapse(pIndex)" ng-switch="item.sref"></li>
  </ul>
  <a ng-switch-default ng-if="!item.heading" ui-sref="{{item.sref}}" title="{{item.text}}">
  <em ng-if="item.icon" class="{{item.icon}}"></em>
  <span ng-if="item.alert" class="label label-success pull-right">{{item.alert}}</span>
  <span>{{(item.translate | translate) || item.text}}</span>
  </a>
// START Sidebar (left)
.aside-inner
  nav.sidebar(sidebar="")
    // START sidebar nav
    ul.nav
      // Iterates over all sidebar items
      li(ng-class="getMenuItemPropClasses(item)", ng-repeat="item in menuItems", ng-init="pIndex = $index", ng-include="'sidebar-renderer.html'", ng-click="toggleCollapse(pIndex, true)", ng-switch="item.sref")
    // END sidebar nav
// END Sidebar (left)
