catkin_ws/build
catkin_ws/devel

backup/*
logs/*
downloads/server
downloads/*.pth

real/camera_depth_scale.txt
real/camera_pose.txt

realsense/CMakeFiles/*
realsense/CMakeCache.txt
realsense/Makefile
realsense/cmake_install.cmake
realsense/realsense

*.zip
*.pdf
*.pyc
*.png
*__pycache__*

commands.txt
visualization.push.png
visualization.grasp.png
visualization.place.png
calibration*/

logs
demos

*calibration/

real_good_robot_logs_2020_02

paper_figures/

CoppeliaSim_Edu_V4_0_0_Mac
CoppeliaSim_Edu_V4_0_0_Mac/*

grid_scripts
grid_scripts/*
grid_logs
grid_logs/*
models
models/*

data/
data/*

figures/

**/.ipynb_checkpoints
